[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
types-requests = "*"
requests = "*"

[dev-packages]
mypy = "*"

[scripts]
install-types = "mypy --install-types"

[requires]
python_version = "3.7"
